<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <form action="add" method="post">
        {% csrf_token %}
        <label for="id">Roll</label><br>
        <input type="number" class="input" placeholder="Enter your Roll number" name="roll_no"><br>
        <label for="id">Name</label><br>
        <input type="text" class="input" placeholder="Enter your Name" name="name"><br>
        <label for="task">Age</label><br>
        <input type="text" class="input" placeholder="Enter your Age" name="age"><br>
        <label for="task">Email</label><br>
        <input type="emali" class="input" placeholder="Enter your email" name="email"><br>
        <label for="task">Phone Number</label><br>
        <input type="text" class="input" placeholder="Enter your Mobile Number" name="phno"><br>
        <br>
        <input class="btn" type="submit" value="Submit">

    </form>
    <table>
        <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone Number</th>

        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.roll_no}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phno}}</td>
            <td>
                <a href="edit_std/{{i.pk}}">Edit</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>